= form_for @request do |f|
  .request.form
    = f.select :method, Request.method_options
    = f.text_field :url
    = f.check_box :redirects
    = f.label :redirects, "Follow redirects?"

  .request.data.tabs
    %ul
      %li.tab.selected= link_to 'Post Data', '#post_data'
      %li.tab= link_to 'Raw', '#raw_data'
    #post_data.pane.selected= render "post_data"
    #raw_data.pane= f.text_area :raw_body
    
  .submit.request= f.submit "Request", :disable_with => 'Requesting...'
