.request.age requested #{time_ago_in_words @request.updated_at} ago
= render "form"

=link_to "clear", new_request_path

.tabs
  %ul
    %li.tab= link_to 'Request', '#request'
    %li.tab.selected= link_to 'Response', '#response'

  #request.pane.highlight
    %pre= pretty_print_headers @request.sent_headers
  #response.pane.highlight.selected
    %pre= pretty_print_headers @request.response_headers
    %pre= pretty_print_body @request.response_type, @request.response_body
