.request.age requested #{time_ago_in_words @request.updated_at} ago
= render "form"

=link_to "clear", new_request_path

.tabs
  %ul
    %li.tab= link_to 'Request', '#request'
    %li.tab.selected= link_to 'Response', '#response'

  #request.pane
    = pretty_print_requests(@request.sent_headers).html_safe
  #response.pane.selected
    = pretty_print_headers(@request.response_headers).html_safe
    = pretty_print(@request.response_type, @request.response_body).html_safe
